* {
  padding: 0;
  margin: 0;
  font-family: sans-serif; }

.container {
  padding: 0 100px;
  background: url(../alisa-anton-fxqgTfGxgrg-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center; }
  .container .box {
    position: absolute;
    max-width: 600px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(180deg, rgba(8, 156, 156, 0), rgba(6, 112, 112, 0.295));
    color: #ddd;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    top: 5%;
    left: 0;
    margin: 10px;
    border-radius: 10px;
    backdrop-filter: blur(0.05em);
    overflow: hidden; }
    .container .box h2 {
      margin-bottom: 20px;
      font-size: 4em;
      color: #044463;
      text-shadow: 1px 1px 5px #ddd;
      text-transform: uppercase; }
    .container .box p {
      font-size: 1.4em;
      text-shadow: 1px 3px 3px #044463; }

@media (max-width: 550px) {
  .container {
    padding: 10px; }
    .container .box {
      padding: 10px;
      text-align: center; }
      .container .box h2 {
        margin-bottom: 20px;
        font-size: 3em;
        color: #044463;
        text-transform: uppercase; }
      .container .box p {
        font-size: 1.4em; } }
